/**
  * Reset some basic elements
*/

* {
 box-sizing: border-box !important;
 margin: 0; }

input,
select,
textarea,
button {
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
}


body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Basic styling
 */
body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    line-height: 1.5;
    color: $color-body-text;
    background-color: #fff;
}

p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.05em;
}

h1, .h1 { font-size: $h1-size; }
h2, .h2 { font-size: $h2-size; }
h3, .h3 { font-size: $h3-size; }
h4, .h4 { font-size: $h4-size; }
h5, .h5 { font-size: $h5-size; }
h6, .h6 { font-size: $h6-size; text-transform: uppercase; letter-spacing: 0.02em; }

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*Embedded Medium Styling*/
#fm-medium-embed{
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.fm-post-wrapper{
  display: inline-block;
  border-radius: 3px;
  width: 300px;
  padding: 15px;
  background: #fff;
  text-align: left;
  margin: 10px;
  min-height: 340px;
  border: 1px solid #bbb;
  box-shadow: 0 3px 15px rgba(0,0,0,0.25);
}

.fm-post-title{
  font-size: 10px;
  height: 25px;
  white-space: nowrap;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fm-post-sub-title{
  min-height: 130px;
  line-height: 24px;
  color: #333;
}

.fm-medium-profile{
  margin-top: 10px;
  padding: 5px;
  display: block;
}

.fm-medium-profile a{
  display: inline-block;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #4285f4;
  box-shadow: 0 3px 15px rgba(0,0,0,0.15);
}
